[build]
builder = "nixpacks"

[deploy]
releaseCommand = "npx prisma db push && npm run db:seed"
startCommand = "npm start"
healthcheckPath = "/"
healthcheckTimeout = 300
restartPolicyType = "on_failure"

[env]
NODE_ENV = "production"
PORT = "3000" 